<nav aria-label="Primary navigation" role="navigation">
  <ul>
    {% if request.resolver_match.namespace == 'dashboard' %}
      <li>
        <a href="{% url 'dashboard:home' %}"
           role="menuitem"
           aria-current="{% if request.resolver_match.namespace == 'dashboard' %}
                           page
                         {% endif %}"
           _="on load if location.pathname is '{% url 'dashboard:home' %}' then hide me">Dashboard</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'dashboard:home' %}"
           role="menuitem"
           aria-current="{% if request.resolver_match.namespace == 'dashboard' %}
                           page
                         {% endif %}"
           _="on load if location.pathname is '{% url 'dashboard:home' %}' then hide me">Dashboard</a>
      </li>
    {% endif %}
    {% block breadcrumbs %}
    {% endblock breadcrumbs %}
  </ul>
</nav>
