asgiref
authlib
autopep8
build
certifi
cffi
click
contourpy
cryptography
cycler
django
django-allauth
django-appconf
django-browser-reload
django-cors-headers
django-csp
django-debug-toolbar
django-htmx
django-hyperscript
django-matplotlib
django-pandas
django-pb-model
django-pdb
django-select2
django-silk
django-tailwind
django-template-partials
fido2
fonttools
gprof2dot
gunicorn
hyperscript-dump
jinja2
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pip-tools
plotly
protobuf
pycodestyle
pycparser
pyparsing
pyproject-hooks
python-dateutil
python-dotenv
python-dotenv-vault
qrcode
requests
sentry-sdk
six
sqlparse
urllib3
uvicorn
uvicorn-worker
wheel
